<div class="editor-row">
    <div class="section gf-form-group">
        <div class="gf-form">
            <label class="gf-form-label width-20">Network price reduction</label>
            <span class="max-width-15">
				<input type="text" class="input-small gf-form-input width-15" ng-model="ctrl.panel['trafficPriceReduction']" />
            </span>
        </div>
    </div>
    <div class="section gf-form-group">
        <div class="gf-form">
            <div class="gf-form">
                <table>
                    <tr>
                        <th>Host</th>
                        <th>CPU's</th>
                        <th>Memory</th>
                    </tr>
                    <tr ng-repeat="host in ctrl.dataCtrl.getNodes()">
                        <td>{{host.getIp()}}</td>
                        <td>{{host.getNumCores()}}</td>
                        <td>{{host.getMemoryString()}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>