<div class="editor-row">
    <div class="section gf-form-group">
        <h5 class="section-heading">Container mapping</h5>
        <div class="gf-form">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Group</th>
                </tr>
                <tr ng-repeat="cont in ctrl.dataCtrl.getContainers()">
                    <td>{{cont.getName()}}</td>
                    <td>{{cont.getImage()}}</td>
                    <td>{{cont.getGroup()}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="section gf-form-group">
        <h3 class="section-heading">Create a mapping for automatically grouping</h3>
        <p>In order to automatically map the container to a certain group, you can create a mapping that performs a
            regular expression mapping based on the container name, or the container ID. </p>
        <div class="gf-form">
            <button class="btn navbar-button">
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions"
                   target="_blank">Need more help?
                </a>
            </button>
        </div>
        <br/>
        <div class="gf-form">
            <table>
                <tr>
                    <td>Regular expression</td>
                    <td>Group name</td>
                    <td>Name or image</td>
                    <td>Delete</td>
                </tr>
                <tr ng-repeat="row in ctrl.mappingCtrl.getList()">
                    <td><input type="text" class="input-small gf-form-input width-20" ng-model="row.regex"/></td>
                    <td><input type="text" class="input-small gf-form-input width-20" ng-model="row.group"/></td>
                    <td>
                        <select class="input-medium gf-form-input" ng-model="row.match"
                                ng-options="t for t in ctrl.mappingCtrl.getNameImage()"></select>
                    </td>
                    <td>
                        <button class="btn gf-form-input"
                                ng-click="ctrl.mappingCtrl.remove(row);"><i
                                class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="gf-form">
        <button class="input-small gf-form-input width-12" ng-click="ctrl.mappingCtrl.addRow()">Add row</button>
    </div>
    <div class="gf-form">
        <button class="input-small gf-form-input width-12" ng-click="ctrl.mappingCtrl.apply()">Apply mapping</button>
    </div>
</div>
