<section class="container">
    <div class="gf-form-group" id="graph-header">
        <div class="gf-form">
            <label class="gf-form-label width-10">Visualization mode</label>
            <div class="gf-form-select-wrapper max-width-20">
                <select class="input-medium gf-form-input" ng-model="ctrl.panel.mode"
                        ng-options="t for t in ctrl.getModes()" ng-change="ctrl.render()"></select>
            </div>

            <label class="gf-form-label width-10">Grouped</label>
            <div class="gf-form-switch-container-react">
                <input class="gf-form-switch" type="checkbox" ng-model="ctrl.panel.grouped" ng-change="ctrl.render()" />
            </div>
            <label class="gf-form-label width-10">Time window</label>
            <div class="gf-form-select-wrapper max-width-10">
                <select class="input-medium gf-form-input" ng-model="ctrl.panel.timeWindow"
                        ng-options="t for t in ctrl.getTimes()" ng-change="ctrl.render()"></select>
            </div>
            <button class="gf-form-label" ng-click="ctrl.render()"><i class="fa fa-refresh"></i>
            </button>
        </div>
        <div class="gf-form">
            <p><strong>Description: </strong>{{ ctrl.description() }}</p>
        </div>
    </div>
    <div class="container-panel" ng-style="{height: ctrl.graph_height}">
        <div id="graph-panel"></div>
    </div>
</section>
