<div class="editor-row">
    <div class="section gf-form-group">
        <div class="gf-form">
            <label class="gf-form-label width-12">Node Background color</label>
            <span class="max-width-9">
				<spectrum-picker class="gf-form-input" ng-model="ctrl.panel.colorNodeBackground"
                                 ng-change="ctrl.render()"></spectrum-picker>
            </span>
        </div>
        <div class="gf-form">
            <label class="gf-form-label width-12">Node Border color</label>
            <span class="max-width-9">
				<spectrum-picker class="gf-form-input" ng-model="ctrl.panel.colorNodeBorder"
                                 ng-change="ctrl.render()"></spectrum-picker>
            </span>
        </div>
        <div class="gf-form">
            <label class="gf-form-label width-12">Edge color</label>
            <span class="max-width-9">
				<spectrum-picker class="gf-form-input" ng-model="ctrl.panel.colorEdge"
                                 ng-change="ctrl.render()"></spectrum-picker>
            </span>
        </div>
        <div class="gf-form">
            <label class="gf-form-label width-12">Text color</label>
            <span class="max-width-9">
				<spectrum-picker class="gf-form-input" ng-model="ctrl.panel.colorText"
                                 ng-change="ctrl.render()"></spectrum-picker>
            </span>
        </div>
        <div class="gf-form">
            <label class="gf-form-label width-12">Layout type</label>
            <div class="gf-form-select-wrapper max-width-9">
				<select class="input-medium gf-form-input" ng-model="ctrl.panel.layoutType"
                        ng-options="v for v in ['name', 'grid']" ng-change="ctrl.render()"></select>
            </span>
        </div>
    </div>
</div>