<section class="container">
    <div class="gf-form" id="graph-header">
        <label class="gf-form-label width-10">Visualization mode</label>
        <div class="gf-form-select-wrapper max-width-10">
            <select class="input-medium gf-form-input" ng-model="ctrl.panel.mode"
                    ng-options="t for t in ctrl.get_modes()" ng-change="ctrl.render()"></select>
        </div>
        <button style="padding-left: 10px" class="input-small gf-form-input width-12"
                ng-click="ctrl.events.emit('render')">Refresh
        </button>
    </div>
    <div class="container-panel" ng-style="{height: ctrl.graph_height}">
        <div id="graph-panel"></div>
    </div>
</section>
